{% extends 'base.html' %}
{% load static %}

{% block title %}Design - Simulations{% endblock %}
{% block pagetype %}--simulation{% endblock %}

{% block content %}
<main id="maincontent" class="maincontent--simulation">
    <div class="main-app">
        <div class="simulation">
            <div class="simulation__workspace">

                <!-- ### Begin block for SIMULATION PREAMBLE -->
                <div class="simulation__step-container d-flex">
                    <div class="simulation__step-num">
                        &bull;
                    </div>
                    <div class="simulation__step-toggle--down">
                    </div>
                    <div class="simulation__step-body">
                        <header class="simulation__step-header">
                            <h2 class="h2-primary">
                                <span class="h2-secondary d-block">
                                    Simulation 000</span>
                                    <span class="h2-title d-block">
                                        Title of simulation
                                    </span>
                            </h2>
                        </header>
                        <div class="simulation__step-content">
                            <p>
                                This is text space is for the overall
                                description of this simulation. It should
                                provide a brief overview of the simulation
                                and its purpose. This text should be
                                informative and engaging, but not too
                                detailed.
                            </p>
                            <p>
                                Approximately <b>60 to 70 words</b>
                                is sufficient. <i>Formatting</i> should be
                                allowed, as well as Katex element
                                <span class="fake-katex katex-inline">
                                    y = b + mx
                                </span>.
                            </p>
                            <p>
                                Katex that appear inline has
                                <code>className="katex-inline"</code>. Block Katex
                                does not have a class name.
                            </p>
                            <!-- The above span Katex is fake, don't use it
                                in sim proper -->
                        </div>
                    </div>
                </div>
                <!-- ### End block for SIMULATION PREAMBLE -->


                <!-- ### Begin block for LEARNING GOALS -->
                <div class="simulation__step-container d-flex">
                    <div class="simulation__step-num tip-on">
                        <img src="{{STATIC_URL}}img/icon-goal.svg"
                        class="simulation__step-icon"
                        alt="Icon: Learning goals" />
                    </div>
                    <div class="simulation__step-toggle--down">
                    </div>
                    <div class="simulation__step-body">
                        <header class="simulation__step-header">
                            <h2 class="h2-primary" id="learningGoal">
                                Learning goals</h2>
                        </header>
                        <div class="simulation__step-content">
                            <p>
                                This space is setting up students learning
                                expectations for the simulation. It should be
                                clear and concise. It should be rundown of
                                learning goals that students should be able
                                to achieve by the end of the simulation.
                            </p>
                            <p>
                                Approximately <b>60 to 70 words</b>
                                is sufficient. <i>Formatting</i> should be
                                allowed, as well as Katex element
                                <span class="fake-katex katex-inline">y = b + mx</span>.
                            </p>
                            <p>
                                Katex that appear inline has
                                <code>className="katex-inline"</code>. Block Katex
                                does not have a class name.
                            </p>
                            <!-- The above span Katex is fake, don't use it
                                in sim proper -->
                        </div>
                    </div>
                </div>
                <!-- ### End block for LEARNING GOALS -->


                <!-- ### Begin block for A STEP CONTAINER -->
                <div class="simulation__step-container d-flex">
                    <div class="simulation__step-num">
                        &bull;
                    </div>
                    <div class="simulation__step-toggle--down">
                    </div>
                    <div class="simulation__step-body">
                        <header class="simulation__step-header">
                            <h2 class="h2-primary" id="learningGoal">
                                A step container</h2>
                        </header>
                        <div class="simulation__step-content">
                            <p>
                                This is a typical step container. There are
                                some basic components that are common to
                                content in all step containers.
                            </p>
                            <p>
                                The instructions can be in paragraphs.
                                In <b>all content</b> on the workspace,
                                <i>formatting</i> should be
                                allowed, as well as Katex element
                                <span class="fake-katex katex-inline">y = b + mx</span>.
                                Katex that appear inline has
                                <code>className="katex-inline"</code>.
                            </p>
                            <div class="prompt-block">
                                <div class="prompt-gfx">
                                    <img class="prompt-img" alt="Reminder:" src="{{STATIC_URL}}img/icon-bell.svg">
                                </div>
                                <p class="mb-2">
                                    This is a <b>prompt block.</b> It is used to
                                    highlight important tips or reminders
                                    to urge students to pay more attention.
                                </p>
                            </div>
                            <p>Sometimes, equations are listed under a
                                sub-segment content, like the following...</p>
                            <h2>This is a sub-segment heading</h2>
                            <div class="sub-content">
                                <div class="katex-block">
                                    <span class="fake-katex">
                                        y = 123 + 45x
                                    </span>
                                </div>
                            </div>
                            <p><code>&lt;div class="sub-content"&gt;</code>
                                indents the block, and
                                <code>&lt;div class="katex-block"&gt;</code>
                                wrapping the Katex element adds top and bottom
                                padding.
                            </p>
                            <p>
                                Finally, here's a table component, for value
                                comparisons. I need to be able to add a class to
                                the <code>&lt;table&gt;</code> element, for example,
                                <code>w-75</code> to control the width of the
                                table.
                            </p>
                            <table class="table table-bordered mb-5 mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Header 1</th>
                                        <th scope="col">Header 2</th>
                                        <th scope="col">Header 3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><span class="fake-katex katex-inline">123</span></td>
                                        <td><span class="fake-katex katex-inline">456</span></td>
                                        <td><span class="fake-katex katex-inline">789</span></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td><span class="fake-katex katex-inline">984</span></td>
                                        <td><span class="fake-katex katex-inline">735</span></td>
                                        <td><span class="fake-katex katex-inline">326</span></td>
                                      </tr>
                                </tbody>
                            </table>
                            <!-- The above span Katex is fake, don't use it
                                in sim proper -->
                        </div>
                    </div>
                </div>
                <!-- ### End block for A STEP CONTAINER -->


                <!-- ### Begin block for TAKEAWAY QUESTIONS -->
                <div class="simulation__step-container d-flex">
                    <div class="simulation__step-num">
                        &bull;
                    </div>
                    <div class="simulation__step-toggle--down">
                    </div>
                    <div class="simulation__step-body">
                        <header class="simulation__step-header">
                            <h2 class="h2-primary" id="learningGoal">
                                Takeaway questions</h2>
                        </header>
                        <div class="simulation__step-content">
                            <p>
                                TBD
                            </p>
                            <p>
                                <i>Formatting</i> should be
                                allowed, as well as Katex element
                                <span class="fake-katex katex-inline">y = b + mx</span>.
                                Katex that appear inline has
                                <code>className="katex-inline"</code>.
                            </p>
                            <!-- The above span Katex is fake, don't use it
                                in sim proper -->
                        </div>
                    </div>
                </div>
                <!-- ### End block for TAKEAWAY QUESTIONS -->


            </div>

            <div class="simulation__graphspace">
                Graph
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer%}{% endblock %}