<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Metrics Mentor: {% block title %}{% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="theme-color" content="#9e9e9e">

        <!-- Local CSS -->
        <link href="{{STATIC_URL}}build/main.css" rel="stylesheet">
        {% block css %}{% endblock %}

        <!-- Standard Meta Data -->
        <meta name="description" content="Metrics Mentor" />
        <meta name="keywords" content="" />
        <meta name="author" content="Columbia University CTL" />
        <meta name="copyright" content="">

        <!-- Dublin Core Metadata -->
        <meta name="DC.Title" content="Metrics Mentor" />
        <meta name="DC.Description" content="" />
        <meta name="DC.Rights" content="Copyright (c) 2024 Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3">
        <meta name="DC.Publisher" content="Center for Teaching and Learning at Columbia University" />
        <meta name="DC.Contributor" content="Center for Teaching and Learning at Columbia University" />

        <!-- Open Graph -->
        <meta property="og:title" content="Metrics Mentor" />
        <meta property="og:type" content="" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Metrics Mentor" />

        <!-- JSON Structured data -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "",
            "name": "",
            "about": "",
            "keywords": ""
        }
        </script>

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
        <script>
            window.MetricsMentor = {
                staticUrl: '{{ STATIC_URL }}',
                baseUrl: '//{{ request.get_host }}',
                {% if not request.user.is_anonymous %}
                currentUser: {
                    id: '{{ request.user.id }}',
                },
                {% endif %}
            }
        </script>

        {% block feeds %}{% endblock %}
    </head>
    <body>
        {% block topnavbar %}
        <header>
            <div class="skippy">
                <div class="container p-0">
                    <a class=" d-inline-block p-2 m-1" href="#maincontent">Skip to main content</a>
                </div>
            </div>
            <div class="navbar top-bar">
                <div class="container top-bar__container">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <img class="gn-i me-3 outline-icon" alt="" src="{{STATIC_URL}}img/logo-metricsmentor-bw.svg">
                        <img class="gn-i me-3 color-icon" alt="" src="{{STATIC_URL}}img/logo-metricsmentor.svg">
                        <span class="visually-hidden">Go to main page for</span><span>Metrics Mentor</span>
                    </a>
        
                    <ul class="nav col-auto top-bar__nav">
                        <li>
                            {% if request.user.is_anonymous %}
                                <a href="/accounts/login/?next=/" title="Log In" class="nav-link">Sign In</a>
                            {% else %}
                                Hello, 
                                {% if request.user.last_name %}
                                    {{request.user.first_name}} {{request.user.last_name}}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                                (<a href="/accounts/logout/?next=/" title="Log Out">Sign out</a>)
                            {% endif %}    
                        </li>
                        {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'impersonate-list' %}" title="Impersonate" class="nav-link">
                            Impersonate
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        {% endblock %}

        <main id="maincontent">
        {% block pagetitle %}{% endblock %}
        {% block content %}{% endblock %}
        </main>

        {% block footer %}
        <footer>
            <div class="container">
             <ul class="nav navlist--footer">
                <li class="nav-item">
                    <a href="/about/">About Metrics Mentor</a>
                </li>
                <li class="nav-item">
                    <a href="/contact/">Contact Us</a>
                </li>
            </ul>
            <p class="ll-license text-center mt-3 fs-6">Metrics Mentor open-source code is on <a itemprop="license" rel="license noopener noreferrer" href="https://github.com/ccnmtl/metricsmentor">Github</a> <span class="text-nowrap">with <a itemprop="license" rel="license noopener noreferrer" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPLv3</a> license.</span></p>
            <div class="row my-5">
                <div itemscope itemtype="http://schema.org/EducationalOrganization" class='text-center py-3'>
                    <a href="https://ctl.columbia.edu" rel="noopener noreferrer" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/logo-ctl.svg" class="footer__logo img-fluid" alt="" itemprop="logo" /><span class="visually-hidden" itemprop="name">Center for Teaching and Learning at Columbia University</span></a>
                </div>
            </div>
        
            </div>
        </footer>
        {% endblock %}

        <script src="{{STATIC_URL}}js/lib/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        {% if SENTRY_PUBLIC_DSN %}
            <script
                src="https://browser.sentry-cdn.com/5.7.1/bundle.min.js"
                integrity="sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ"
                crossorigin="anonymous"></script>

            <script>
                Sentry.init({
                    dsn: '{{ SENTRY_PUBLIC_DSN }}'
                });
                {% if user.is_anonymous %}
                Sentry.setUser({
                    email: 'none',
                    id: 'anonymous'
                });
                {% else %}
                Sentry.setUser({
                    email: '{{ user.email }}',
                    id: '{{ user.username }}'
                });
                {% endif %}
            </script>
        {% endif %}

        {% block js %}{% endblock %}

        {% if STAGING_ENV %}
            <div class="alert alert-danger alert-dismissible" role="alert" style="position: fixed; bottom: 0px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4 class="alert-heading">Warning: Staging Site</h4>
                <p>You are viewing a staging version of this site, not the production site.</p>
                <p>This site was last updated on: <strong>{{STAGING_DEPLOY_TIME}}</strong></p>
            </div>
        {% endif %}

        {% if request.user.is_impersonate %}
            <div class="alert alert-danger alert-dismissible" role="alert" style="position: fixed; left: 0px; top: 75px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                You are impersonating.<br />
                <a class="btn" href="{% url 'impersonate-stop' %}" title="Stop impersonate">stop</a>
            </div>
        {% endif %}
    </body>
</html>
