{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block pagetype %}--home{% endblock %}

{% block content %}
<main id="maincontent">
    <header class="main-banner banner-hero d-flex align-items-center justify-content-center">
        <div class="container row">
            <h1 class="col-12 col-lg-8 align-self-center">
                <span class="main-banner__title banner-hero__title">Metrics Mentor</span>
                <span class="main-banner__text banner-hero__text primary-text">A self-guided, interactive platform for learning econometrics through simulations</span>
            </h1>
            <section class="col-12 col-lg-4 loginbox row">
                <div class="loginbox__body col-4 col-lg-12">
                    <form class="text-center" method="get" action="/cas/login">
                        <input type="hidden" name="next" value="/" />
                        <button type="submit">Sign in with Columbia UNI</button>
                        <p class="small mt-2 mb-0"><a href="https://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
                    </form>
                </div>
                <div class="loginbox__body col-4 col-lg-12">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div><b>Invalid username or password</b></div>
                        </div>
                    {% endif %}
                    <form class="text-center" name="login_local" method="post" action=".">
                        {% csrf_token %}
                        <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="id_username" class="form-label"><span>Username</span></label>
                                    <input id="id_username" maxlength="254"
                                        name="username" type="text"
                                        class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="id_password" class="form-label"><span>Password</span></label>
                                    <input id="id_password"
                                        name="password"
                                        type="password"
                                        class="form-control">
                            </div>
                        </div>
                        <button id="guest-login"
                            type="button"
                            {% if form.errors %}style="display: none"{% endif %}
                            onclick="jQuery('.login-local-form').show(); jQuery('.login-local-form-cancel').show(); jQuery(this).hide(); return false;">
                            Sign in as Guest
                        </button>
                        <button
                            class="login-local-form"
                            type="submit"
                            {% if not form.errors %}style="display: none;"{% endif %} >
                            Log In
                        </button>
                        <button
                            class="login-local-form-cancel"
                            {% if not form.errors %}style="display: none;"{% endif %}
                            onclick="jQuery('.login-local-form').hide(); jQuery('#guest-login').show(); jQuery(this).hide(); return false;">Cancel</button>
                        <input type="hidden" name="next" value="{{ next|urlencode }}" />
                        <p class="small mt-2 mb-0"><a href="/accounts/password_reset/" title="Reset Password">Forgot Password?</a></p>
                    </form>
                </div>
                <div class="loginbox__body col-4 col-lg-12">
                    <p>Contact us</p>
                </div>
            </section>
        </div>
    </header>
    <section class="section-homepage section--bookends">
        <h2>
            Interactive Learning econometrics
        </h2>
        <p>
            Optional short paragraph describing the tool. Aliquam dictum pretium risus, quis venenatis ligula accumsan non. Nunc sollicitudin, tellus eu fringilla interdum, erat purus facilisis risus, et.
        </p>
    </section>
    
    <section class="section-homepage section--feature row">
            <div class="col-lg-4 px-lg-5 pb-5 pb-lg-0">
            <svg class="bd-placeholder-img rounded" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="pt-3">Visual</h2>
            <p>Students can visually explore different scenarios in regression analysis.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-lg-5 pb-5 pb-lg-0">
            <svg class="bd-placeholder-img rounded" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="pt-3">Graphical</h2>
            <p>Students can explore 2D and 3D graphs of endogeneity and standard error problems.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-lg-5 pb-5 pb-lg-0">
            <svg class="bd-placeholder-img rounded" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="pt-3">Interactive</h2>
            <p>Students can change parameters to explore different results.</p>
            </div><!-- /.col-lg-4 -->
    </section>
    
</main>
{% endblock %}
