html, body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $white;
}

main {
    padding-bottom: 1rem;
    min-height: calc(100vh - 20rem);
    &.maincontent--simulation {
        position: absolute;
        top: 3.25rem;
        bottom: 0;
        width: 100vw;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2;
        @include media-breakpoint-up(sm) {
            top: 3.25rem;
        }
    }
}

.content-body {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    font-size: 1.125rem;
}

.viewport-test {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    position: fixed;
    top: calc(100vh/2 - 5rem);
    right: 0;
    z-index: 1000;
    ul {
        width: 7.5rem;
        background-color: $warning;
        transform: rotate(-90deg);
        list-style-type: none;
        margin: 0 -2.5rem 0 0;
        padding: 0.25rem;
        li {
            text-align: center;
        }
        text-align: center;
    }
}

.survey-form {
    background-color: $yellow-400;
    color: black !important;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}