.listset-alpha {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &-listnum {
        counter-reset: listNum-counter;
    }
    &-listnum li {
        counter-increment: listNum-counter;
    }
    &-listnum li::before {
        content: counter(listNum-counter, upper-alpha) ".";
        display: block;
        width: 1.5rem;
        font-weight: 600;
        line-height: 1.25;
        margin-right: 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        align-self: center;
    }
}

.listset-alpha-card {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    position: relative;
    &__button {
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.75rem;
        color: #212529;
        @include media-breakpoint-up(md) {
            padding: 1.5rem;
        }
    }
    &__button-question {
        margin-left: -3.75rem;
        padding-left: 3.5rem;
        @include media-breakpoint-up(md) {
            margin-left: -6rem;
            padding-left: 6.5rem;
        }
    }
    &__number {
        display: block;
        width: 2.25rem;
        font-weight: 600;
        line-height: 1.25;
        margin-right: 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            width: 4rem;
            line-height: 1;
            margin-right: 1rem;
        }
    }
    &__number::after {
        content: ".";
    }
    &__title {
        align-self: center;
        margin-right: 1rem;
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
        line-height: 1.125;
    }
    &__subhead {
        font-size: 0.8125rem;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }
    }
    &__text {
        font-size: 1rem;
        margin-right: 1rem;
        line-height: 1.3;
        @include media-breakpoint-up(md) {
            font-size: 1.375rem;
            line-height: 1.5;
        }
    }
    &__prompt {
        margin-top: -0.5rem;
        margin-left: 0.75rem;
        align-self: center;
        line-height: 1;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 500;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.hypothesis-selected {
    background-color: lightgray;
}


.status-complete {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    background-color: $teal-200;
    border-radius: 50%;
    color: $green-600;
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    align-self: center;
}

.dataset-opt .status-complete {
    display: inline-block;
}

.answer-correct-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    color: $green-600;
    font-size: 0.875rem;
}

.answer-correct {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.75rem;
    background-color: $teal-200;
    border-radius: 50%;
    color: $green-600;
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
    align-self: center;
}

.answer-incorrect-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    color: $red;
    font-size: 0.875rem;
}

.answer-incorrect {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.75rem;
    background-color: $red-100;
    border-radius: 50%;
    color: $red;
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 2rem;
    text-align: center;
    align-self: center;
}

.hypothesis-completed .status-complete {
    display: inline-block !important;
}

.hypothesis-completed button {
    display: none !important;
}

.choice-list {
    list-style: none;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0;
    & li {
        margin: 0;
        padding: 0.125rem 0;
    }
    & div {
        margin: 0.5rem 0;
    }
}

.dataset-variable-item {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem dotted $gray-md-300;
}