.modal-custom {
    max-width: none;
    width: 100vw;
    height:  100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 5rem auto auto auto;
    &-pvalue {
        width: 65rem;
        height: calc(100vh - 9rem) !important;
    }
    &-cvalue {
        width: 60rem;
        height: calc(100vh - 9rem) !important;
    }
}

.table-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $gray-md-300;
    border: 0.0625rem solid $gray-md-200;
    border-collapse: collapse;
    thead {
        position: sticky;
        top: 0;
        background-color: $gray-md-300;
        border: 0;
    }
    tr {
        border-top: 0;
        border-bottom: 0;
    }
    th.colheader {
        text-align: center;
        background-color: $gray-md-300;
        border-color: transparent;
        border-collapse: collapse;
    }
    th.rowheader {
        text-align: right;
    }
}

.modal-graph {
    margin: 1rem auto;
    &--pvalue {
        width: 35rem;
    }
    &--cvalue {
        width: 20rem;
    }
}

.container-cvalue {
    display: flex;
    margin: 0.5rem 0;
    border-bottom: 0.0625rem dotted $gray-md-400;
    h3 {
        font-size: 1.25rem;
        font-weight: 600;
    }
    table {
        margin-top: 1rem;
        width: auto;
    }
    .rowheader {
        padding-right: 1rem;
    }
    .colheader, td {
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
    }
    .cvalue-text {
        margin: 0;
        padding: 0 0 0 1rem;
        align-self: center;
    }
}