.section-homepage {
    padding: 2rem 15px;
    border-top: 1px solid $gray-300;
    @extend .container;
    @include media-breakpoint-up(sm) {
        padding: 4rem 0;
    }
    @include media-breakpoint-up(lg) {
        border-top: none;
    }
}

.section--bookends {
    text-align: center;
}

.loginbox {
    padding: 0;
    background-color: $gray-md-400;
    align-self: center !important;
    text-align: center !important;
    p {
        margin: 0;
        padding: 0;
    }
    &__body {
        padding: 1rem;
        border-bottom: 0;
        border-right: 0.0625rem solid $gray-md-300;
        &:last-child {
            border-right: 0;
        }
        @include media-breakpoint-up(lg) {
            border-bottom: 0.0625rem solid $gray-md-300;
            border-right: 0;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.section--feature {
    margin: auto;
    text-align: center;
}

.section-sim-dashboard {
    min-height: calc(100vh - 20rem);
    margin: auto;
    text-align: center;
    padding: 1rem 15px;
    @extend .container;
    @include media-breakpoint-up(sm) {
        padding: 2rem 0;
    }
    @include media-breakpoint-up(lg) {
        border-top: none;
    }
}
