body {
    font-family: $font-family-sans-serif-primary;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif-secondary;
}

.primary-text {
    font-family: $font-family-sans-serif-primary;
}

.secondary-text {
    font-family: $font-family-sans-serif-secondary;
}

.section-homepage {
    h2 {
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.25rem;
    }
}

.simulation {
    &__workspace {
    }
    &__graphspace {
    }
    &__step-container {
    }
    &__step-num {
    }
    &__step-toggle {
    }
    &__step-body {
        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: $gray-md-600;
        }
    }
    &__step-header {
    }
}