body {
    font-family: $font-family-sans-serif-primary;
    font-size: $font-size-primary;
    color: $font-color-primary;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif-secondary;
}

.primary-text {
    font-family: $font-family-sans-serif-primary;
}

.secondary-text {
    font-family: $font-family-sans-serif-secondary;
}

.main-banner {
    color: $gray-md-600;
    &__title {
        font-weight: 600;
    }
    &__subhead {
        font-size: 1rem;
    }
    &__text {
        font-size: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
}

.banner-hero {
    color: $gray-md-900;
    &__container {
        border: 0.125rem solid red;
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
        @include media-breakpoint-up(xl) {
        }
    }
    &__title {
        font-size: 2.125rem;
        font-weight: 500;
        @include media-breakpoint-up(md) {
            font-size: 2.75rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3.125rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }
    &__text {
        font-size: 1.125rem;
        font-weight: 400;
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
        }
    }
}

.loginbox {
    button {
        font-size: $btn-font-size-sm;
        @include media-breakpoint-up(md) {
            font-size: $btn-font-size;
        }
    }
}

.section-homepage {
    h2 {
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.25rem;
    }
}

.simulation-card {
    h2 {
        color: $gray-web-080;
        line-height: 1.3;
    }
    .h2-title {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .h2-primary {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .h2-secondary {
        font-size: 0.8725rem;
        line-height: 1.4;
    }
}

.simulation {
    &__step-header {
        h2 {
            color: $gray-web-080;
            line-height: 1.3;
        }
        .h2-title {
            font-size: 1.5rem;
            line-height: 1.3;
            @include media-breakpoint-up(lg) {
                font-size: 1.25rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1.5rem;
            }    
        }
        .h2-primary {
            font-size: 1.25rem;
            font-weight: 500;
            @include media-breakpoint-up(lg) {
                font-size: 1.0625rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1.25rem;
            }    
        }
        .h2-secondary {
            font-size: 0.8725rem;
            line-height: 1.4;
        }
    }
    &__step-content {
        p {
            font-size: 1rem;
            line-height: 1.5;
        }
        h2, .h2 {
            font-family: $font-family-sans-serif-secondary;
            font-size: 1.0625rem;
            line-height: 1.3;
            font-weight: 500;
        }
        h3, .h3 {
            font-family: $font-family-sans-serif-secondary;
            font-size: 1.0625rem;
            line-height: 1.3;
            font-weight: 500;
        }
        h4, .h4 {
            font-family: $font-family-sans-serif-secondary;
            font-size: 1rem;
            line-height: 1.3;
            font-weight: 500;
        }
        .dev-only {
            color: $gray-md-400;
        }
    }
    &__typetab {
        .nav-link {
            font-family: $font-family-sans-serif-secondary;
            font-size: 0.875rem;
        }
        .active {
            font-weight: 400 !important;
        }
    }
}

.slider-range__input {
    .scale-value {
        line-height: 1;
    }
}

.modal-content {
    h2, .h2 {
        font-family: $font-family-sans-serif-secondary;
        font-size: 1.0625rem;
        line-height: 1.3;
        font-weight: 500;
    }
}
