body {
    font-family: $font-family-sans-serif-primary;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif-secondary;
}

.primary-text {
    font-family: $font-family-sans-serif-primary;
}

.secondary-text {
    font-family: $font-family-sans-serif-secondary;
}




.main-banner {
    color: $gray-md-600;
    &__title {
        font-weight: 600;
    }
    &__subhead {
        font-size: 1rem;
    }
    &__text {
        font-size: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
}

.banner-hero {
    color: $gray-md-900;
    &__container {
        border: 0.125rem solid red;
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
        @include media-breakpoint-up(xl) {
        }
    }
    &__title {
        font-size: 2.125rem;
        font-weight: 500;
        @include media-breakpoint-up(md) {
            font-size: 2.75rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3.125rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }
    &__text {
        font-size: 1.125rem;
        font-weight: 400;
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
        }
    }
}

.loginbox {
    button {
        font-size: $btn-font-size-sm;
        @include media-breakpoint-up(md) {
            font-size: $btn-font-size;
        }
    }
}











.section-homepage {
    h2 {
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.25rem;
    }
}

.simulation {
    &__workspace {
    }
    &__graphspace {
    }
    &__step-container {
    }
    &__step-num {
    }
    &__step-toggle {
    }
    &__step-body {
        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: $gray-md-600;
        }
    }
    &__step-header {
    }
}