//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


//Colors
$gray-md-050: #fafafa !default;
$gray-md-100: #f5f5f5 !default;
$gray-md-200: #eeeeee !default;
$gray-md-300: #e0e0e0 !default;
$gray-md-400: #bdbdbd !default;
$gray-md-500: #9e9e9e !default;
$gray-md-600: #757575 !default;
$gray-md-700: #616161 !default;
$gray-md-800: #424242 !default;
$gray-md-900: #212121 !default;

$gray-web-020: #cccccc !default;
$gray-web-040: #999999 !default;
$gray-web-060: #666666 !default;
$gray-web-080: #333333 !default;

$bluegray-md-050: #eceff1 !default;
$bluegray-md-100: #cfd8dc !default;
$bluegray-md-200: #b0bec5 !default;
$bluegray-md-300: #90a4ae !default;
$bluegray-md-400: #78909c !default;
$bluegray-md-500: #607d8b !default;
$bluegray-md-600: #546e7a !default;
$bluegray-md-700: #455a64 !default;
$bluegray-md-800: #37474f !default;
$bluegray-md-900: #263238 !default;

//Radius
$radius-md: 0.5rem !default;
$radius-lg: 1rem !default;
$radius-sm: 0.25rem !default;


$font-family-sans-serif-primary: 'Roboto', Arial, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif-secondary: 'Poppins', Arial, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-color-primary: #202124 !default;
$font-size-primary: 1rem !default;
