{% extends 'base.html' %}
{% load course_description course_faculty_string from course_tools %}

{% block title %}
My Courses | Metrics Mentor
{% endblock %}

{% block content %}
<main id="maincontent">
<div class="container-fluid container-content">
    <h1 data-cy="dashboard-title">
        My Courses
    </h1>
    <div class="courses-list" role="table" aria-label="My Courses">
        <div class="courses-list__header" role="row">
            <div class="courses-list__cell courses-list__cell--title" role="columnheader">Course Title</div>
            <div class="courses-list__cell courses-list__cell--semester" role="columnheader">Semester</div>
            <div class="courses-list__cell courses-list__cell--authors" role="columnheader">Authors</div>
        </div>
        {% for course in courses %}
        <a class="courses-list__row"
           role="row"
           href="{% url 'simulation-dashboard-view' course.pk %}"
           data-cy="course-{{ forloop.counter }}">
            <div class="courses-list__cell courses-list__cell--title" role="cell">
                <span class="courses-list__label" aria-hidden="true">Course</span>
                <span data-cy="course-{{ forloop.counter }}-link">{{ course.title }}</span>
            </div>
            <div class="courses-list__cell courses-list__cell--semester" role="cell">
                <span class="courses-list__label" aria-hidden="true">Semester</span>
                {% if course.info.termyear %}{{ course.info.termyear }}{% else %} &ndash; {% endif %}
            </div>
            <div class="courses-list__cell courses-list__cell--authors" role="cell">
                <span class="courses-list__label" aria-hidden="true">Authors</span>
                <span class="courses-list__authors-text">{{ course|course_faculty_string }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
</main>
{% endblock %}
