{% extends 'base.html' %}
{% load static %}

{% block title %}Graphical Interactive Simulations for Econometrics{% endblock %}

{% block content %}
<main>
    <h1>Home Page</h1>
    <p>This is the home page</p>
    {% if request.user.is_anonymous %}
    <a href="/accounts/login/?next=/" class="btn btn-primary btn-lg" title="Log In">Log In</a>
    {% else %}
    Logged in as
        {% if request.user.last_name %}
        {{request.user.first_name}} {{request.user.last_name}}
        {% else %}
        {{ request.user.username }}
        {% endif %}
    (<a href="/accounts/logout/?next=/" title="Log Out">Logout</a>)
    {% endif %}
</main>
{% endblock %}
