{% extends 'base.html' %}
{% load static %}

{% block title %}Simulation{% endblock %}
{% block pagetype %}--simulation{% endblock %}


{% block js %}
    <script src="{% static 'build/bundle.js' %}"></script>
{% endblock %}

{% block content %}
<main id="maincontent" class="maincontent--simulation">
    <div class="main-app" id="react-root" data-course="{{ course.id }}"
        data-semester="{{ course.info.termyear }}" data-coursetitle="{{ course.title }}"
        data-is-faculty="{{ is_faculty }}" data-visible-simulations="{{ visible_simulations }}">
    </div>
</main>
{% endblock %}
{# Simulation pages do not get a footer from this template. #}
{# Footer in Dashboard is handled in dashboard template #}
{% block footer%}{% endblock %}