{% extends 'base.html' %}
{% load static %}

{% block title %}Simulation{% endblock %}
{% block pagetype %}--simulation{% endblock %}


{% block js %}
    <script src="{% static 'build/bundle.js' %}"></script>
{% endblock %}

{% block content %}
<main id="maincontent">
    <div class="row pt-3 px-0 mt-0 mx-0">
        <div class="col-12">
            Course: {{course.title}}
            {% if course.info.termyear %}<div>Semester: {{ course.info.termyear }}</div>{% endif %}
            <div><b>Your role:</b> {% if is_faculty %}Instructor{% else %}Student{% endif %}</div>
        </div>
    </div>
    <div class="main-app" id="react-root" data-course="{{ course.id }}"></div>
</main>
{% endblock %}
